.qntyPicker button {
    margin: 5px 10px;

}

.qntyPicker label {
    font-weight: bold;
    color: #333;
}

.fa-cart-arrow-down{
    color: green;
    font-weight: bold;
    font-size: large;
    font-size: 30px;
    
}


.qty-changer:hover , .fa-cart-arrow-down:hover
{
    transition: all 0.5s;
    transform: scale(1.1);
}


.fa-cart-arrow-down:hover
{
    background: yellow;
    cursor: pointer;
}
